@page
@model MiniHotelManagement_Razor.Pages.RoomPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@{
    var canParse = int.TryParse(HttpContext.Session.GetString("Role"), out int roleId);
    if (!canParse)
        Response.Redirect("/Index");
}
<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="/images/@Html.DisplayFor(modelItem => modelItem.Room.ImageUrl)" width="150" height="150" style="object-fit: cover;" alt="Image" />

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomType.RoomTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room?.RoomId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
